body {

}

main {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50% - 400px);
}

.left-column {
    background-color: yellow;
    width: 40%;
    float: left;
}

.main-title {
    font-size: 50px;
}
.bottom-links {
}

.bottom-links > a {
}

.bottom-links > span {
}
.right-column {
    background-color: pink;
    width: 60%;
    float: left;
}

.close {

}

.form {
    
}